<h2>List of Incomes</h2>

<% for income in @income %>

  <ul>
    <li>Amount: <%= sprintf "%.2f", income.amount %>£</li>
    <li>Source: <%= income.type %></li>
    <li>Date: <%= income.income_date %></li>
    <li><a href="/income/<%= income.id %>/edit">Edit Income</a></li>
    <form action="/income/<%= income.id %>/delete" method="post">
      <input type="submit" value="Delete Income">
    </form>
    <li><a href="/income/new">Add new Income</a></li>
  </ul>


<% end %>