<h2>List of Transactions</h2>

<% for transaction in @transactions %>

  <ul>
    <li>Amount: <%= transaction.amount %></li>
    <li><% for merchant in @merchants  %>
    <% if merchant.id.to_i == transaction.merchant_id %>
    <%= merchant.name %>
    <% end %>
    <% end %></li> 
    <li><% for category in @categories %>
    <% if category.id.to_i == transaction.category_id %>
    <%= category.name %>
    <% end %>
    <% end %></li> 
    <li>Date: <%= transaction.transaction_date %></li>
    <li><a href="/transactions/<%= transaction.id %>/edit">Edit Transaction</a></li>
    <form action="/transactions/<%= transaction.id %>/delete" method="post">
      <input type="submit" value="Delete Transaction">
    </form>
    <li><a href="/transactions/new">Add new Transaction</a></li>
  </ul>


<% end %>

